<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>JayJay</title>
    <link rel="stylesheet" href="/views/user/main.css" type="text/css">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="channelDiv">
      <form id="channelForm">
        Channel: <input type="text" name="channel" id="channel"><br>
        <input type="submit" name="Submit" id="channelButton">
      </form>
    </div>
    <div id="fieldDiv">
      <form id="fieldForm">
        <input type="submit" name="Submit" id="fieldButton">
      </form>
    </div>
    <script src="/views/user/data.js"></script>
  </body>
</html>
